.okhub_api .container {
    position: relative;
}
.okhub_api #user-tools {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.2em 10px;
    font-size: 11px;
    text-align: right;
}
.okhub_api .wrapper {
    padding-top: 0;
    margin: 20px 0;
}
.okhub_api fieldset {
    padding: 0;
}
.okhub_api .breadcrumb {
    margin-top: 0;
}
.okhub_api .btn-primary {
    color: #fff;
}

.okhub_api #footer {
    width: 100%;
}
