{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	
	<meta name="keywords" content="knowledge, services, ids, library, eldis, bridge, information, research" />
		
  <title>{% block title %}{% endblock %} - Open API Project - Knowledge Services, Institute of Development Studies </title>
	<meta http-equiv="X-UA-Compatible" content="IE=7" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="en-uk" />
	<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/site_media/favicon.ico" />
	<link rel="icon" type="image/vnd.microsoft.icon" href="/site_media/favicon.ico" />
	<link href="/site_media/styles.css" rel="stylesheet" type="text/css" media="screen" />

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29726294-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

	</head>
	
<body>
	
<div id="main-wrapper">
	
	<div id="header-wrapper">
		<div id="header">
		
			<div id="logo">
			   <a href="/"><img src="/site_media/images/logo.png" alt="IDS - Global Knowledge for Global Change" /></a>
			</div>
		</div><!--ends header-->
		
			
	
<div id="nav-wrapper">	
    <div id="nav">
		<ul>
			<li><a href="/about">About</a></li>
			<li><a href="/profiles/view">Get API key</a></li>
			<li><a href="/about/terms.shtml">Terms and Conditions</a></li>
			<li><a href="/docs/">Documentation</a></li>
			<li><a href="/about/resources.shtml">Useful resources</a></li>
			<li><a href="/openapi/">API</a></li>
		</ul>		
	</div><!--ends nav-->

<div id="action-nav">
		  {% block header %}
		{% if user.is_authenticated %}
				<ul>
		  		  <li><a href="{% url auth_logout %}">{% trans "Log out" %}</a></li>
				  <li><a href="{% url auth_password_change %}">{% trans "Change password" %}</a></li>
				  <li><a href="{% url edit_profile %}">{% trans "Edit profile" %}</a></li>
				{% else %}
				
				<ul>
				  <li><a href="{% url auth_login %}">{% trans "Log in" %}</a></li>
		{% endif %}
	{% endblock %}
				</ul>
			
</div><!--ends action-nav -->	
</div><!--ends nav-wrapper-->	
</div><!--ends header-wrapper-->		
	


	<div id="content-wrapper">
				<div id="content">
					<div>
						{% if user.is_authenticated %}		 
					   <span class="loggedin"">{% trans "Logged in" %}: {{ user.first_name }} {{user.last_name }}</span>
					 
						{% else %}
						<span>&nbsp;</span>
						{% endif %}
					</div>	    

					{% block content %}{% endblock %}
				</div>
	</div>
	
		</div>
		
<div id="footer-wrapper" class="clear">
	<div id="footer">
        {% block footer %}
        {% endblock %}
        <ul id="company-details">
			<li>&copy; IDS</li>
			<li><a href="http://www.ids.ac.uk/go/disclaimer">Disclaimer</a></li>
			<li class="last">Institute of Development Studies, Library Road, Brighton, BN1 9RE, UK</li>			
		</ul>
		
		<ul id="contact-details">
			<li>E: <a href="mailto:api@ids.ac.uk">api@ids.ac.uk</a></li>
			<li class="last">T: +44 (0)1273 606261</li>
		</ul>
		 		
		<a href="http://www.ids.ac.uk"><img src="http://api.ids.ac.uk/site_media/images/IDS_logo.png" alt="IDS logo" /></a>
	
        <div>Site built by <a href="http://www.aptivate.org/">Aptivate</a></div>
		
	</div><!--ends footer-->
</div><!--ends footer-wrapper-->


</body>
</html>
