[submodule "django/idsapi/frontend_widget/static/frontend_widget"]
	path = django/idsapi/frontend_widget/static/frontend_widget
	url = https://git.coop/aptivate/client-projects/ids-api-widget.git
	branch = master
