<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	
	<meta name="keywords" content="knowledge, services, ids, library, eldis, bridge, information, research" />
		
  <title>Open API Project - Knowledge Services, Institute of Development Studies </title>
	<meta http-equiv="X-UA-Compatible" content="IE=7" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="en-uk" />
	<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/site_media/favicon.ico" />
	<link rel="icon" type="image/vnd.microsoft.icon" href="/site_media/favicon.ico" />
	<link href="/site_media/styles.css" rel="stylesheet" type="text/css" media="screen" />


	</head>
	
<body>
	

xxxx
<div id="main-wrapper">
	
	<div id="header-wrapper">
		<div id="header">
		
			<div id="logo">
			   <a href="/"><img src="/site_media/images/logo.png" alt="IDS - Global Knowledge for Global Change" /></a>
			</div>
		</div><!--ends header-->
		
			
	
<div id="nav-wrapper">	
    <div id="nav">
		<ul>
			<li><a href="/about">About</a></li>
			<li><a href="/profiles/view">Get API key</a></li>
			<li><a href="/about/terms.shtml">Terms and Conditions</a></li>
			<li><a href="/docs/">Documentation</a></li>
			<li><a href="/about/resources.shtml">Useful resources</a></li>
		</ul>		
	</div><!--ends nav-->

<div id="action-nav">
		  
				<ul>
		  		  <li><a href="/profiles/view/">Your Account</a></li>
				</ul>
			
</div><!--ends action-nav -->	
</div><!--ends nav-wrapper-->	
</div><!--ends header-wrapper-->		
	


	<div id="content-wrapper">
				<div id="content">
    

					