Fabric3==1.14.post1 # Python3 Fabric 1 (pre 2) fork
packaging==20.4
-e git+https://git.coop/aptivate/dye.git@master#egg=dye

# core django
Django==2.2.17

mysqlclient==2.0.1
pytz==2020.4
django-htmlmin==0.11.0

# solr
-e git+https://github.com/aptivate/sunburnt.git@95802c47688430bdddff20e92c27a7987ffaeb28#egg=sunburnt-python3

# User profiles and registration
django-countries==6.1.3
# django-profiles==0.2  # Replaced by local copy of app modified to support Django 1.8
django-registration==3.1.1

# general libraries
requests==2.24.0
djangorestframework-xml==2.0.0
djangorestframework==3.12.1
httplib2==0.19.0
lxml==4.6.1
unicodecsv==0.14.1

# document generation (not currently Python3 compat)
# docutils==0.14  # docutils>=0.15 supports Python 3 only
# sphinx==1.0.7
# sphinxcontrib-httpdomain==1.1.4

