Fabric3==1.14.post1 # Python3 Fabric 1 (pre 2) fork
packaging==21.0
-e git+https://git.coop/aptivate/dye.git@master#egg=dye

# core django
Django==2.2.24

mysqlclient==2.0.3
pytz==2021.1
django-htmlmin==0.11.0

# solr
-e git+https://git.coop/aptivate/sunburnt.git@95802c47688430bdddff20e92c27a7987ffaeb28#egg=sunburnt-python3

# User profiles and registration
django-countries==7.2.1
# django-profiles==0.2  # Replaced by local copy of app modified to support Django 1.8
django-registration==3.2

# general libraries
requests==2.26.0
djangorestframework-xml==2.0.0
djangorestframework==3.12.4
httplib2==0.19.1
lxml==4.9.1
unicodecsv==0.14.1
django-cors-headers==3.7.0

# document generation (not currently Python3 compat)
# docutils==0.14  # docutils>=0.15 supports Python 3 only
# sphinx==1.0.7
# sphinxcontrib-httpdomain==1.1.4
